*{
    background:#ca1426;
    background:#26c897;
    background:#eed3e0;
    background:#308f81;
    background:#bdb8bd;


    background:#141d26;
    border-right:1px solid rgba(0,0,0,0.9);
    background:#c51f5d;
    background:#243447;



    background:#F4F6FA;
    background:#546CCE;
    background:#588CE4;
    background:#C4A450;
    background:#B0A5BC;
    background:#CBE1A8;
    background:rgb(8, 12, 68);
}





